{% extends "layout.html" %}

{% block title %}
    APOD: Astronomy Picture of the Day
    
{% endblock %}
    {% block link %} <link rel="stylesheet" href="static/style.css"> {% endblock %}
{% block body %}
    <img id="apod" src="{{ url }}"> </img>
    <h2>{{ title }} </h2>
    <h2>{{ explanation }} </h2>

    <h3>{{message}}</h3>
    <h2><span><a href="#"> Copyrights</a></span>: {{ copyrights }} </h2>
    <!--<h3>{{ db }}</h3>-->
    <form action="{{ url_for('pic') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="date" placeholder="YYYY-MM-DD">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>
{% endblock %}